.container{
    min-height: 100vh;
    position: relative;
    top:-10vh;
}

@media screen and (max-width: 580px) {
    .container{
        min-height: 80vh;
        position: relative;
        top:0;
    }
    
}