.row {
    color: #fff;
    margin-top: 5vh;
    margin-left: 3rem;
    position: relative;
}

.card_section {
    scroll-behavior: smooth;
    display: flex;
    overflow-x: scroll;
    padding-bottom: 100px;
    margin-bottom: -100px;
    padding-top: 100px;
    margin-top: -100px;
}

.card_section::-webkit-scrollbar {
    display: none;
}

.card_image {
    height: 16vh;
    margin: 1vh 0;
    align-self: center;
}

.card {
    transition: transform 450ms;
    margin-right: 0.8rem;
    background-color: #fff;
    padding-top: 0.2rem;
    color: #000;
    padding-bottom: 0;
    width: 18vw;
    align-items: center;
    position: relative;
    display: inline-flex;
    flex: 1 1 0px;
    flex-direction: column;
    z-index: 0;
}

.card_section .card:hover {
    transform: scale(1.25);
    position: relative;
    bottom: 3rem;
    z-index: 1;
}

.name {
    color: #fff;
    margin: 0;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 0.9rem;
}

.card_large {
    max-height: 10rem;
    width: 8rem;
}



.arrow {
    color: var(--white);
    font-size: 3rem;
    font-weight: 500!important;
    z-index: 10;
    position: relative;
    top:12vh;
}

.left_arrow_container{
    height: 32vh;
    width: 3rem;
    background-color: rgba(17,17,17,0.9);
    position: absolute;
    left:-3rem;
    z-index: 10;
    top:0;
    display: none;
}

.right_arrow_container{
    height: 32vh;
    width: 3rem;
    background-color: rgba(17,17,17,0.7);
    position: absolute;
    right:0;
    z-index: 10;
    top:0;
    display: none;
}

.show_left_arrow{

}

.show_right_arrow{

}


.row:hover .show_left_arrow{
    display: block;
}

.row:hover .show_right_arrow{
    display: block;
}

.details_section{
    min-height: 11vh;
    border-top: solid #000 0.1rem;
    background-color: rgb(20,20,20);
    color: #fff;
    margin: 0;
    width: 100%;
    padding:0.9rem 0.7rem 0.2rem 0.7rem;

}

.icon_outline{
    padding:0.5rem;
    border: rgba(240, 240, 240, 1) solid 2px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    margin-right: 0.8rem;
}

.details_icon_container{
    margin-bottom:0.5rem;
    padding-left: 0;
}

.like_outline{
    background-color: var(--red);
    border-radius: 10%;
    padding:0.15rem 0.3rem;
    font-size: smaller;
    margin-right: 3px;
    font-weight: 200!important;
    font-family: "Roboto";
}
.like_container{
    font-size: smaller;
    margin: 0;
    margin-bottom: 0.5rem;
}

.match_container
{
    color:var(--green);
    font-size: 0.8rem;
    margin: 0;
}

.quality{
    font-size: 0.7rem;
    margin: 0;
    margin-bottom: 0.5rem;
}

.details_bullet{
    color:var(--grey);
}

.combine_container{
    margin-bottom: 0.5rem;
}

.category{
    margin:0;
    color:var(--white);
    padding:0.1rem 0.3rem;
    font-size: 0.7rem;
    border: var(--grey) solid 1px;
    width: fit-content;
    text-align: center;
    text-transform: capitalize;
}