.row {
    color: #fff;
    margin-top: 5vh;
    margin-left: 3rem;
    position: relative;
}

.row_title{
    margin-bottom: 0.3rem;
    font-size: 1.2rem;
}

.card_section ,.photo_card_section{
    scroll-behavior: smooth;
    display: flex;
    overflow-x: scroll;
    padding-bottom: 500px;
    margin-bottom: -500px;
    padding-top: 120px;
    margin-top: -120px;
    margin-left: -100px;
    padding-left: 100px;
}



.card_section::-webkit-scrollbar ,.photo_card_section::-webkit-scrollbar {
    display: none;
}

.card_container{
    position: relative;
}

.card_image {
    height: auto;
    margin: 1vh 0;
    align-self: center;
    width: 90%;
    aspect-ratio: 30/17;
    max-height:6.5rem ;
}
.skeleton_card_image {
    height: 16vh;
    margin: 1vh 0;
    align-self: center;
    width: 90%;
}

.card {
    transition: transform 850ms;
    margin-right: 0.8rem;
    background-color: #fff;
    padding-top: 0.2rem;
    color: #000;
    padding-bottom: 0;
    width: 15vw;
    align-items: center;
    position: relative;
    display: inline-flex;
    flex: 1 1 0px;
    flex-direction: column;
    z-index: 0;
    border-radius: 1.2%;
}
.dummy_card {
    transition: transform 650ms;
    margin-right: 0.8rem;
    padding-top: 0.2rem;
    color: #000;
    padding-bottom: 0;
    width: 15vw;
    align-items: center;
    position: relative;
    flex: 1 1 0px;
    flex-direction: column;
    z-index: 0;
    border-radius: 1.2%;
    display: none;
}


.card_section .card:hover {
    transform: scale(1.25);
    position: absolute;
    top: -40%;
    z-index: 1;
    border-radius: 1%;
}

.card:hover ~.dummy_card {
    display: block!important;
}

.name {
    color: #fff;
    margin: 0;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 0.9rem;
}

.card_large {
    max-height: 10rem;
    width: 8rem;
    border-radius: 1%;
}



.arrow {
    color: var(--white);
    font-size: 3rem;
    font-weight: 500 !important;
    z-index: 10;
    position: relative;
    top: 12vh;
}

.left_arrow_container {
    height: 32vh;
    width: 3rem;
    background-color: rgba(17, 17, 17, 0.9);
    position: absolute;
    left: -3rem;
    z-index: 10;
    top: 0;
    display: none;
}

.right_arrow_container {
    height: 32vh;
    width: 3rem;
    background-color: rgba(17, 17, 17, 0.7);
    position: absolute;
    right: 0;
    z-index: 10;
    top: 0;
    display: none;
}

.show_left_arrow {}

.show_right_arrow {}


.row:hover .show_left_arrow {
    display: block;
}

.row:hover .show_right_arrow {
    display: block;
}

.details_section {
    min-height: 11vh;
    border-top: solid #000 0.1rem;
    background-color: rgb(20, 20, 20);
    color: #fff;
    margin: 0;
    width: 100%;
    padding: 0.9rem 0.7rem 0.2rem 0.7rem;
    border-bottom-left-radius: 1.5%;
    border-bottom-right-radius: 1.5%;
    display: none;
}

.card:hover .details_section {
    display: block;
}

.icon_outline {
    padding: 0.5rem;
    border: var(--grey) solid 2px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(42,42,42,.6);;
    margin-right: 0.8rem;
    color:rgba(255,255,255,0.85);
    transition: all ease-in-out 450ms;
}

.icon_outline:hover ,.modal_icon_outline:hover{
    border: rgba(255,255,255,0.95) solid 2px;
    color:rgba(255,255,255,0.95);
}

.details_icon_container {
    margin-bottom: 0.5rem;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.like_outline {
    background-color: var(--red);
    border-radius: 10%;
    padding: 0.15rem 0.3rem;
    font-size: smaller;
    margin-right: 3px;
    font-weight: 200 !important;
    font-family: "Roboto";
}

.like_container {
    font-size: smaller;
    margin: 0;
    margin-bottom: 0.5rem;
}

.match_container {
    color: var(--green);
    font-size: 0.8rem;
    margin: 0;
}

.quality {
    font-size: 0.7rem;
    margin: 0;
    margin-bottom: 0.5rem;
}

.details_bullet {
    color: var(--grey);
}

.combine_container {
    margin-bottom: 0.5rem;
}

.category {
    margin: 0;
    color: var(--white);
    padding: 0.1rem 0.3rem;
    font-size: 0.7rem;
    border: var(--grey) solid 1px;
    width: fit-content;
    text-align: center;
    text-transform: capitalize;
    background-color: rgba(42,42,42,.6);
}

.card_container,.photo_card_container {
    cursor: pointer;
    padding: 0;
}

/* modal style section  */

.modal_container {
    position: relative;
    overflow-y: scroll;
}


.modal_card_image {
    height: 70vh;
    width: 60vw;
    aspect-ratio: 30/17;
}


.modal_image_section {
    background-color: #fff;
    padding-top: 5vh;
    position: relative;
}

.modal_title_section {
    padding-left: 2rem;
    position: absolute;
    top: 45vh;
    left: 2rem;
}


.modal_name {
    font-style: italic;
    font-weight: 500;
    font-size: 5rem;
    margin: 0;
    margin-bottom: 1rem;
    transform: rotate(355deg);
    background: -webkit-linear-gradient(var(--red), var(--white), var(--maroon), var(--bgColor), var(--grey));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.modal_icon_section {
    font-size: 1rem;
    color: #fff;
}

.modal_icon_outline {
    padding: 0.8rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    border-radius: 50%;
    margin-right: 1rem;
    border: var(--grey) solid 2px;
    background-color: rgba(42,42,42,.6);;
    color:rgba(255,255,255,0.85);
    transition: all ease-in-out 450ms;
}

.modal_details_icon {
    color:rgba(255,255,255,0.85);
}

.modal_loved{
    color:var(--green)
}

.modal_like_container{
    margin:0 1rem 0 0;
    display: inline;
}

.modal_details_section{
    padding-left: 2rem;
    padding-top: 2rem;
    font-size: 0.9rem;
    padding-bottom: 4rem;
}

.modal_category{
    font-size: 1rem;
    margin: 0 1rem 0 0;
    color: var(--white);
    padding: 0.2rem 0.8rem;
    border: var(--grey) solid 1px;
    width: fit-content;
    text-align: center;
    text-transform: capitalize;
}

.modal_description_container{
    display: flex;
    justify-content: space-between;
}

.modal_quality{
    margin:0;
    color:var(--white)
}

.modal_col1{
    width: 55%;
}

.modal_col2{
    width: 40%;
    padding-right: 4.5%;
    font-size: 0.85rem;
}

.modal_combine_container{
    margin:0;
    margin-bottom: 1rem;
}

.modal_description{
    margin: 3rem 0 0 0;
}

.modal_features{
    color:var(--grey);
}

.icon_tag{
    color:var(--red);
    margin:0 1rem 0 0;
}

.modal_heart_icon{
    margin:0 0.1rem;
    color:var(--red);
}

.modal_star_icon{
    margin:0 0.1rem;
    color:var(--gold);
}

.modal_fade_bottom{
    height: 30vh;
    background-image: linear-gradient(180deg,transparent,rgba(255,255,255,0.1),#111);
    position: absolute;
    bottom:-2vh;
    width: 100%;
}

.card_skeleton{
  margin-right: 0.8rem;
  border-radius: 1%;
}

/* Photos card style  */


.photo_card_section .card:hover {
    transform: scale(1.25);
    z-index: 1;
}

.viewer_cross
{
    color: rgb(1,1,1);
    background-color: #fff;
    position:absolute;
    top:2rem;
    right:2rem;
    padding:0.2rem ;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 1.3rem;
    cursor: pointer;
}

.photo_card_image{
    margin:0;
    width: 100%;
    height: 10rem;
}

.photo_card {
    transition: transform 450ms;
    margin-right: 0.8rem;
    background-color: #fff;
    color: #000;
    padding-bottom: 0;
    align-items: center;
    position: relative;
    display: inline-flex;
    flex: 1 1 0px;
    flex-direction: column;
    z-index: 0;
    width: 8rem;
    border-radius: 1%;
}

.photo_card_section .photo_card:hover {
    transform: scale(1.25);
    z-index: 1;
}