.profile_main_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}

.profile_container {
    display: inline-flex;
    flex-direction: column;
    margin-right: 1.5rem;
}

.title {
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
    width: 100%;
    margin-top: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.profile_image {
    width: 9rem;
    height: 9rem;
    border-radius: 0.2rem;
    font-family: 'Sans-sarif';
    border: solid 2px transparent;

}

.profile_image:hover {
    border: solid 2px var(--white);
}


.main_title {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 3rem;
    margin-bottom: 1.2rem;
}

.p-confirm-dialog {
    border: var(--white) solid 1px !important;
}

.p-dialog-header-icon {
    display: none!important;
}

.p-confirm-dialog-reject, .p-confirm-dialog-accept {
    background-color: var(--red) !important;
    color: var(--white) !important;
    border: none !important;
    transition: all ease-in 0.5s;
    cursor: pointer;
    padding: 0.35rem 0.8rem !important;
    font-size: 0.8rem !important;

}

.p-confirm-dialog-reject:hover, .p-confirm-dialog-accept:hover {
    background-color: var(--maroon) !important;
    color: var(--white);
}

.p-confirm-dialog-reject:focus, .p-confirm-dialog-accept:focus {
    box-shadow: none !important;
}

.p-dialog-content {
    padding-top: 1rem !important;
    font-size: 1rem !important;
}

.p-confirm-dialog, .p-dialog-header, .p-dialog-footer, .p-dialog-content {
    background-color: rgba(17, 17, 17, 0.3) !important;
    color: #fff !important;
}

.p-confirm-dialog {
    width: 26vw;
    height: fit-content;
}

.p-dialog-header {
    padding: 0.5rem 0.5rem !important;
}

.p-dialog-content {
    padding: 0.5rem 0.5rem !important;
}
.p-confirm-dialog-icon{
    font-size: 1.67rem!important;
}

@media screen and (max-width: 992px) {
    .profile_sub_container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0.8rem;
    }

    .title {
        font-size: 1rem;
    }

    .main_title {
        font-size: 1.5rem;
    }

    .profile_image {
        width: 5rem;
        height: 5rem;
    }

    .profile_container {
        margin-right: 0;
    }
}