.profile_main_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}

.profile_container{
    display: inline-flex;
    flex-direction: column;
    margin-right: 1.5rem;
}

.title{
    color:#fff;
    font-size: 1.2rem;
    text-align: center;
    width: 100%;
    margin-top: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.profile_image{
    width: 9rem;
    height: 9rem;
    border-radius: 0.2rem;
    font-family: 'Sans-sarif';
    border: solid 2px transparent;

}

.profile_image:hover{
    border: solid 2px var(--white);
}


.main_title{
    color:#fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 3rem;
    margin-bottom: 1.2rem;
}

@media screen and (max-width: 992px) {
    .profile_sub_container {
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     gap: 0.8rem;
    }
    .title{
        font-size: 1rem;
    }
    .main_title{
        font-size: 1.5rem;
    }
    .profile_image{
        width: 5rem;
        height: 5rem;
    }
    .profile_container{
        margin-right: 0;
    }
  }