.contact_container{
   min-height: 100vh;
}

.contact_header{
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FAFAFA;
}

.contact_combine_container{
    background-color: #FAFAFA;
}

.contact_content_container{
    background-color: #FAFAFA;
    width: 100%;
    min-height: 40vh;
    display: flex;
    justify-content: space-between;
    font-size: larger;
    flex-wrap: nowrap;
    margin-bottom: 0;
}

.contact_column{
    width: 50vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contact_text_container{
    margin-top: 0.3rem;
    margin-bottom: 2vh;
    text-align: initial;
}

.contact_text_link{
    text-decoration: none;
    color:var(--grey);
}

.with_icon_text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap:10px;
}

.like_section{
    margin-top: 0;
    background-color:#fff;
    min-height: 20vh;
    width: 100vw;
    padding-left: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.textInput{
    width: 35vw;
}

.textInput:focus{
    border: none;
    outline: none;
}

.input-wrapper{
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
}

.submit_button{
    min-width:20vw ;
    background-color:var(--red) ;
    color:var(--white) ;
    border: none;
    border-radius: 2%;
    text-align: center;
    padding: 1.4rem 2rem;
    transition: all ease-in 0.5s;
    cursor: pointer;
}
.submit_button:hover{
    transform: scale(1.01);
    background-color: var(--maroon);
}

.like_button_container{
    display: flex;
    width: 35vw;
    font-size: 3rem;
    justify-content: space-between;
    margin: 1rem 0;
    transition: all ease-in 5s;
}

.like_icon{
    transition: all ease-in 0.5s;
    cursor: pointer;
}

.like_icon:hover{
    transform: scale(1.02);
}

.greenClr{
    color:#32cd32;
}

.redClr{
    color:var(--red)
}

.error{
    color:var(--maroon);
    display: block;
    margin-bottom: 1rem;
    margin-top: 0.2rem;
}

.p-inputtext{
    border: var(--grey) solid 1px !important;
    box-shadow: none !important;
}

.p-inputtext:enabled:hover:active{
    border: var(--grey) solid 1px !important;
    box-shadow: none !important;
}

.p-toast-message{
    background-color: rgba(17, 17, 17, 0.7)!important;
}

.p-toast-message-text{
    color: #fff;
}
.p-toast-icon-close-icon{
    color: #fff!important;
}

.p-toast{
    top: 6rem !important;
}

.profile_pic{
    margin-right: 2rem;
}

.profile_pic_section{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width:80vw;
    padding: 2rem 0;
}

.profile_pic_details{
    min-height: 20vh;
    display: flex;
    flex-direction: column;
}

.profile_pic_text{
    font-style: italic;
    font-size: 1.1rem;
}