.floating_menu{
    min-height: 34vh;
    border: #000 solid 1px;
    border-top: var(--red) solid 5px;
    border-radius: 2%;
    width: 65%;
    padding-left: 1rem;
}

.floating_menu_heading{
    font-size: 1.2rem;
    padding:0.5rem 0 1.5rem 0;
}

.floating_menu_item{
    margin:0 0 1rem 0;
}