.nav{
    position: fixed;
    top:0;
    width: 100%;
    display:flex;
    justify-content: space-between;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    transition-timing-function: ease-in;
    transition:all 0.5s;
    background-image: linear-gradient(to bottom,rgba(0,0,0,0.7),transparent);
    z-index: 100;
}

.navbar{
margin-left:0.5rem;
padding-bottom:0.6rem;
}

.nav_logo{
    color: var(--red);
    font-size: 1.5rem;
    font-weight: 800;
    margin:0;
    margin-left:3rem;
    width: 10rem;
    height: 1.32rem;
    margin-right:2.3rem
}

.nav_container{
display: inline-flex;
justify-content: space-between;
align-items: center;
}

.profile_container_small{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-right: 1rem;
    gap:0.8rem
}

.nav_button{
    text-decoration: none;
    font-size: 0.85rem;
    font-weight: 300;
    margin-left:10px;
    margin-right:10px;
    color: var(--white);
    transition-timing-function: ease-in-out;
    transition:all 0.5s;
}
.text_children{
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    margin-left:10px;
    margin-right:10px;
    color: #fff;
}
.nav_button:hover{
    font-size: 0.9rem;
}

.active_style{
    color:#fff;
    font-weight:410;
}

.nav_black{
    background-color: #111;
    background-image: none;
}

.profile{
    width: 2rem;
    height: 2rem;
    border-radius: 0.3rem;
}

.navbar_icon{
    color:var(--white) !important;
    font-size: 1.4rem !important;
    margin-right: 0.5rem!important;
}

.navbar_down{
    color:var(--white);
    font-size: 1.1rem;
}

.profile_and_down_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:0.5rem;
}