.nav{
    position: fixed;
    top:0;
    width: 100%;
    display:flex;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    transition-timing-function: ease-in;
    transition:all 0.5s;
    background-color: rgba(17,17,17,0.3);

}

.navbar{
margin-left:2rem;
}

.nav_logo{
    color: var(--red);
    font-size: 1.5rem;
    font-weight: 800;
    margin-left:0.5rem;
}

.nav_container{
display: flex;
display: inline-block;
justify-content: space-between;
align-items: center;
}

.profile_container_small{
    display: flex;
    display: inline-block;
    align-items: center;
}

.nav_button{
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    margin-left:10px;
    margin-right:10px;
    color: var(--white);
    transition-timing-function: ease-in;
    transition:all 0.5s;
}

.nav_button:hover{
    font-size: 1rem;
}

.active_style{
    color:#fff;
    font-weight:700;
}

.nav_black{
    background-color: #111;
}

.profile{
    width: 40px;
    height: 40px;
    margin-left: 0.8rem;
}