.footer{
    height: 40vh;
    width: 100%;
    color:var(--grey);
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    padding: 8px;
}

.footer_content_container{
    width: 60vw;
    height: 40vh;
    display: flex;
}

.footer_row{
    width: 20vw;
    height: 40vh;
    display: inline;
}

.footer_icon{
    color:var(--white);
    font-size:large;
}
