.resume_container{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    flex-direction: column;
}

.resume{
    width: 50vw;
    height: 70vh;
}

.outline_button{
    border: solid var(--grey) 2px;
    width:fit-content;
    padding:4px 16px;
    background-color: transparent;
    text-decoration: none;
    color:var(--grey);
    transition: all 0.2s;
    margin-top: 2rem;

}

.outline_button:hover{
    border: solid var(--white) 2px;
    color:var(--white)
}

    
@media screen and (max-width: 580px) {
    .resume{
        width: 90vw;
        height: 60vh;
    }
  }