:root{
  --white: #f5f5f1;
  --red:#e50914;
  --maroon: #b81d24;
  --black: #221f1f;
  --grey:#808080;
}
body {
  background-color:#111;
  font-family: 'Poppins', sans-serif;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


